<!doctype html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <title>Konacha Tests</title>

    <% @stylesheets.each do |file| %>
      <%# Use :debug => false for stylesheets to improve page load performance. %>
      <%= stylesheet_link_tag file, :debug => false %>
    <% end %>

    <%= javascript_include_tag "chai", "konacha/iframe", :debug => false %>
    <%= requirejs_include_tag %>

    <%= spec_include_tag *@specs %>
  </head>
  <body>
  </body>
</html>
