<!doctype html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <title>Konacha Tests</title>
    <%= stylesheet_link_tag "konacha", :debug => false %>
    <%= javascript_include_tag "mocha", "konacha/parent", :debug => false %>
    <%= javascript_include_tag("konacha/runner", :debug => false) if @run_mode.runner? %>
    <script>Konacha.specs = <%= @specs.to_json.html_safe %></script>
  </head>
  <body>
    <div id="mocha"></div>
  </body>
</html>
