<!doctype html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <title>Konacha Tests</title>
    <%= stylesheet_link_tag "konacha", :debug => false %>
    <%= javascript_include_tag "mocha", "konacha/parent", :debug => false %>
    <%= javascript_include_tag("konacha/runner", :debug => false) if @run_mode.runner? %>
  </head>
  <body>
    <% @specs.each do |spec| %>
      <%= content_tag :iframe, "", :src => spec_path(spec), :class => "test-context", "data-path" => spec.path %>
    <% end %>
    <div id="mocha"></div>
  </body>
</html>
