<!doctype html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <title>Mocha Tests</title>
    <%= stylesheet_link_tag "mocha" %>
    <%= javascript_include_tag "jquery", "mocha", "chai", "matcha/#{@mode}" %>
    <script>
      mocha.setup(<%= raw @interface.to_json %>);
      var expect = chai.expect,
          should = chai.should(),
          assert = chai.assert;
      window.onload = mocha.run;

      <% if @interface == :bdd %>
        beforeEach(function() {
          document.getElementById('test').innerHTML = "";
        });
      <% elsif @interface == :tdd %>
        setup(function() {
          document.getElementById('test').innerHTML = "";
        });
      <% end %>
    </script>
    <%= yield %>
  </head>
  <body>
    <div id="mocha"></div>
    <div id="test"></div>
  </body>
</html>
